# ---------------- COLORS ----------------

$background: #20212f;
$prim: #d563a8;
$second: #9775DC;

# ---------------- MAIN ----------------

Container, Header, Footer {
    background: $background;
}

Header {
    margin: 1;
    color: $prim;
}

Section {
    border: round $prim;
    padding: 1;
    height: 1fr;
    width: 1fr;
}

#main_grid {
    grid-size: 2 2;
    grid-gutter: 1 1;
    grid-columns: 1.5fr 1fr;
    padding: 1;
    height: 1fr;
}

#tasks_section {
    row-span: 2;
}

# ---------------- TABLE ----------------

DataTable {
    height: 1fr;
    width: 1fr;
    color: white;
    background: transparent;

    scrollbar-size: 1 1;
    scrollbar-background: transparent;
    scrollbar-background-hover: transparent;
    scrollbar-background-active: transparent;
    scrollbar-color: #892DE1;
    scrollbar-color-hover: #A187F0;
    scrollbar-color-active: #892DE1;
    scrollbar-corner-color: transparent;
}

DataTable > .datatable--header {
    background: #892DE1;
    color: white;
    text-style: bold;
}

DataTable > .datatable--header-hover {
    background: #892DE1;
    color: white;
}

DataTable > .datatable--hover {
    background: #60239F;
    color: white;
}

DataTable > .datatable--cursor {
    background: #A187F0;
    color: #2C294A;
    text-style: bold;
}

# ---------------- TASK ACTIONS ----------------

TaskActionScreen {
    align: center middle;
}

#action_dialog {
    width: 52;
    height: auto;
    padding: 1 2;
    border: round #BD57B4;
    background: #2C294A;
}

#action_title {
    text-style: bold;
    color: white;
    margin: 0 0 1 0;
}

OptionList {
    border: round #61225A;
    background: $background;
    height: auto;
}

OptionList > .option-list--option-highlighted {
    background: #892DE1;
    color: white;
    text-style: bold;
}

# ---------------- CREATE TASK ----------------

#create_title {
    margin: 0;
    color: white;
    text-style: bold;
    border: round $prim;
    padding: 1;
}

#create_error {
    color: red;
    margin: 0 0 1 1;
}

#create_desc_input {
    margin: 0 0 1 0;
    width: 100%;
}

#create_row_title_date {
    grid-size: 2 1;
    grid-columns: 2fr 1fr;
    grid-gutter: 1 0;
    height: auto;
    margin: 0 0 1 0;
}

# ---------------- END ----------------
